body {
  font-family: 'NanumSquareRound', sans-serif;
  background-color: #f4f5f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

header h1 {
  font-size: 24px;
  color: #111;
  margin: 0;
  font-weight: 400;
}

.back-btn {
  position: absolute;
  left: calc(50% - 272px);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.dropdown {
  position: absolute;
  right: calc(50% - 272px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #e0e0e0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 140px;
  text-align: center;
  padding: 6px 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 9999;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #d4d4d4;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.write-container {
  width: 544px;
  max-width: 544px;
  background: #f4f5f7;
}

.write-title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #111;
}

.write-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  color: #111;
  font-weight: 700;
}

.required {
  color: #E54848;
  margin-left: 4px;
}

input[type="text"],
textarea {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 15px 0;
  font-size: 14px;
  outline: none;
  resize: none;
  font-family: inherit;
  background-color: #f4f5f7;
}

textarea {
  padding: 18px 0;
  font-size: 15px;
  height: 250px;
}

.file-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="file"] {
  font-size: 13px;
}

.file-label {
  font-size: 13px;
  color: #777;
}

.submit-btn {
  background-color: #ACA0EB;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 0;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.25s ease;
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.submit-btn:hover {
  background-color: #9a8fe0;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #999;
}
