body {
  margin: 0;
  background: #FFFFF9;
  font-family: 'Inter', sans-serif;
}

.frame-wrapper {
  width: 95%;
  min-height: 95vh;
  margin: 20px auto;
  border: 4px solid #92A583;
  border-radius: 25px;
  padding: 30px 40px;
  box-sizing: border-box;
  background: #FFFFF9;
  position: relative;
}

.secret-title {
  text-align: center;
  font-size: 34px;
  font-style: italic;
  font-weight: 800;
  color: #3E3B36;
  margin: 10px 0 25px;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 30px;
}

.profile-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}



.write-btn {
  position: absolute;
  top: 116px;
  right: 45px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #655447;
  color: #efefde;
  border: none;
  font-size: 34px;
  font-weight: 800;
  font-style: italic;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);


  z-index: 9998;
}

.write-btn:hover {
  background: #7c8f6d;
}

.board-container {
  width: 100%;
  min-height: 70vh;
  padding: 50px 30px;  
  background: #ffffff;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);

}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: start;
  width: 100%;
}

.post-card {
  width: 100%;
  max-width: 380px;
  height: auto;
  background: #fcfcf2;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  position: relative;
  padding: 55px 0 30px;
  border-radius: 5%;
  border: 1.5px solid #c7baad55;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #c7baad55;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
.post-card::after {
  content: "";
  position: absolute;
  top: 45px; 
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #c7baad55; 
  opacity: 0.7;
}
.author-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
  margin-bottom: 18px;
}

.author-img {
  width: 38px;
  height: 38px;
  background: #d9d9d9;
  border-radius: 50%;
}

.author-name {
  font-size: 15px;
  font-weight: 700;
  color: #655447;
}

.author-row .date {
  margin-left: auto;
  font-size: 11px;
  padding-right: 20px;
  color: #655447;
  white-space: nowrap;
}

.post-title {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: #655447;
  margin: 10px auto 15px;
  line-height: 1.3;
  max-width: 70%; 
}

.meta {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #655447;
  margin-top: 40px;
  padding-bottom: 5px;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 30px;
}

.profile-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f3f3ed;
  border-radius: 10px;
  width: 150px;
  padding: 8px 0;
  text-align: center;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 9999;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content a {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: background 0.15s ease;
}

.dropdown-content a:hover {
  background-color: #e0e0d6;
}
