body {
  margin: 0;
  background: #FFFFF9;
  font-family: 'NanumSquareRound', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.login-wrapper {
  width: 95%;
  height: 90%;
  border: 4px solid #92A583;
  border-radius: 25px;
  background: #FFFFF9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 42px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;

  font-style: italic;
  color: #534740;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 320px;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;

  font-style: italic;
  color: #534740;
  margin-bottom: 10px;
}

.input-group input {
  width: 320px;
  height: 42px;

  padding: 0 12px;
  background: transparent;

  border: 1px solid #655447;
  border-radius: 8px;

  font-size: 14px;
  color: #655447;
  box-sizing: border-box;

  text-align: center;
}

.input-group input::placeholder {
  color: #ADA39B;
  text-align: center;  
}


.helper-text {
  font-size: 12px;
  font-style: italic;
  color: #9C8674;
  margin-top: 6px;
}

.login-btn {
  width: 180px;
  height: 42px;

  background: #534740;
  border: none;
  border-radius: 30px;

  font-size: 20px;
  font-weight: 800;
  font-style: italic;

  color: white;
  cursor: pointer;

  margin: 30px 0 10px;
  transition: transform 0.15s ease;
}

.login-btn:hover {
  transform: scale(1.03);
}

.signup-link {
  font-size: 14px;
  margin-top: 10px;
  color: #9C8674;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 600;

}

.signup-link:hover {
  text-decoration: underline;
}

