
body {
  margin: 0;
  background: #FFFFF9;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-wrapper {
  width: 95%;
  height: 90%;
  border: 4px solid #92A583;
  border-radius: 25px;
  background: #FFFFF9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-10px); 

}

.signup-title {
  font-size: 42px;
  font-weight: 800;
  font-style: italic;
  color: #534740;
  margin-bottom: 45px;
}

.profile-circle {
  width: 120px;
  height: 120px;
  background: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #534740;
  cursor: pointer;
  margin-bottom: 3px;
  overflow: hidden;
      transform: translateY(-10px); 

}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 320px;
  text-align: center;
  margin-bottom: 1px;
}

.input-group label {
  display: block;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  color: #534740;
  margin-bottom: 4px;
}

.input-group input {
  width: 320px;
  height: 42px;
  padding: 0 12px;
  border: 1px solid #534740;
  border-radius: 8px;
  background: transparent;
  color: #534740;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
}

.input-group input::placeholder {
  color: #978C7F;
  text-align: center;
}

.helper-text {
  font-size: 12px;
  font-style: italic;
  color: #958579;
  margin-top: 6px;
  min-height: 16px;
}

.signup-btn {
  width: 180px;
  height: 42px;
  background: #92A583;
  border: none;
  border-radius: 30px;

  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  color: #FFF;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.15s ease;
}

.signup-btn:hover {
  transform: scale(1.03);
}

.login-link {
  font-size: 14px;
  margin-top: 14px;
  color: #9C8674;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}
