body {
  margin: 0;
  background: #FFFFF9;
  font-family: 'Inter', sans-serif;
  font-weight: 800;   
  font-style: italic; 
}

.frame-wrapper {
  width: 95%;
  min-height: 95vh;
  margin: 20px auto;
  border: 4px solid #92A583;
  border-radius: 25px;
  padding: 30px 40px;
  background: #FFFFF9;
  position: relative;
  box-sizing: border-box;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 25px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown {
  position: absolute;
  top: 20px;
  right: 25px;
}

.profile-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: #d1d1cd;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f3f3ed;
  border-radius: 10px;
  width: 150px;
  padding: 8px 0;
  text-align: center;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 9999;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content a {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #e0e0d6;
}

.edit-main {
  text-align: center;
  margin-top: 80px;
}

.edit-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 45px;
  color: #4F463F;
  font-style: normal;
  font-style: italic;
}

.edit-form {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  margin-top: 10px;
}
.profile-section {
  margin-bottom: 10px;
}

.profile-circle {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background: #c8c8c8;
  position: relative;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-label {
  margin-top: 17px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
  color: #4F463F;
}

.email-display-input {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 18px;
  color: #665A51;
  pointer-events: none;
  margin-bottom: 0px;
}

.email-display-input:focus {
  outline: none;
}

.nickname-label {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
  color: #4F463F;
}

.form-group {
  width: 100%;
  text-align: center;
}

#nicknameInput {
  width: 320px;
  height: 36px;
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 17px;
  background: #FFFFF9;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;  
  color: #4F463F;

}
#nicknameInput::placeholder {
  color: #ADA39B; 
  font-weight: 500;
}
#nicknameInput:focus {
  outline: none;
  border-color: #6a7a57;
}

.helper-text {
  margin-top: 6px;
  font-size: 12px;
  height: 17px;
  color: #9C8674;
  font-weight: 400;

}

.submit-btn {
  margin-top: 25px;
  width: 180px;
  height: 42px;
  background-color: #92A583;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 800;
  font-style: italic;
  cursor: pointer;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: #71845a;
}

.delete-btn {
  margin-top: 18px;
  background: none;
  border: none;
  color: #9C8674;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  font-style: italic;

}

.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal {
  background: #fff;
  width: 260px;
  border-radius: 12px;
  padding: 20px 16px;
  text-align: center;
}

.modal-title {
  font-size: 15px;
  margin-bottom: 6px;
  font-style: normal;
  color: #4F463F;
}

.modal-desc {
  font-size: 13px;
  color: #444;
  margin-bottom: 16px;
  font-style: normal;

}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.cancel-btn,
.confirm-btn {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 13px;
  cursor: pointer;
  font-weight: 800;
}

.cancel-btn {
  background-color: #665A51;
  color: #fff;
}

.confirm-btn {
  background-color: #87976a;
  color: #fff;
}

.confirm-btn:hover {
  background-color: #6d8158;
}
