body {
  margin: 0;
  background: #FFFFF9;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.main-logo {
  width: 400px;        
  height: auto;
  display: block;
  margin: 30px auto 30px;    
}

.welcome-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease;
}

.slide-up {
  transform: translateY(-100vh);
}


.inner-box {
  width: 92vw;
  height: 88vh;
  border: 4px solid #92A583;
  border-radius: 25px;
  position: relative;
}


.center-wrap {
  position: absolute;
  top: 40vh;          
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.small {
  color: #6e645f;
  font-size: 2.5vh;    
  font-weight: 800;
  margin: 0 0 2vh 0;
}


.main-text {
  font-size: 12vh;    
  font-weight: 900;
  font-style: italic;
  color: #534740;
  margin: 0;
  line-height: 0.9;
}


.click-start {
  position: absolute;
  bottom: 10vh;       
  left: 50%;
  transform: translateX(-50%);
  color: #958579;
  font-size: 2vh;
  font-weight: 900;
  animation: fade 1.6s infinite;
}


@keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
.sub-text {
  font-size: 1.6vh;    
  font-weight: 600;       
  color: #958579;        
  margin: 1.5vh 0 0 0;    
  font-family: 'Inter', sans-serif;
}
